@page "/home";
@inherits ComponentBase

<div id="app" class="d-flex justify-content-center align-items-center landing-container depth">
    <div class="d-flex logo-container">
        <img src="images/logo.png" />
        <h1 class="logo-header">Alex McKenzie</h1>
        <h2 class="logo-subheader">Software Engineer & Full-Stack Developer</h2>
    </div>
    <div class="dashboard-container">
        <Dashboard />
    </div>
</div>