@inherits ComponentBase
@page "/homeIcon";

<div class="home-icon">

</div>

@code {
    [Parameter]
    public string Name { get; set; } = "App";
    [Parameter]
    public string Symbol { get; set; } = "circle"
    [Parameter]
    public MarkupString Target { get; set; }


}